## App ##
APP_ENV=mysql
APP_NAME=d2l-datahub-cli
CONF_DIR="${APP_DIR}/conf"
WORK_DIR="${APP_DIR}/work"

## Logger ##
LOG_DIR="${APP_DIR}/logs"
LOG_NAME="${APP_NAME}"
LOG_LEVEL=info

## Schema ##
SCHEMA_DIR="${WORK_DIR}/schema"
SCHEMA_DATASETS_DIR="${SCHEMA_DIR}/datasets"
SCHEMA_MODULES_DIR="${SCHEMA_DIR}/modules"
SCHEMA_MODULES_FILE="${CONF_DIR}/modules.json"
SCHEMA_API_MAP="${CONF_DIR}/api_map.json"
SCHEMA_TABLES_DIR="${SCHEMA_DIR}/tables/mysql"
SCHEMA_TABLE_MAP="${CONF_DIR}/table_map_mysql.json"
SCHEMA_TABLE_GEN_CLASS="D2L\DataHub\BDS\Schema\TableGenerator\MySQLTableGenerator"

## BDS Extracts ##
EXTRACT_DATASET_FILE="${CONF_DIR}/datasets.txt"
EXTRACT_DIR="${WORK_DIR}/extracts"
EXTRACT_AVAILABLE_DIR="${EXTRACT_DIR}/available"
EXTRACT_DOWNLOADS_DIR="${EXTRACT_DIR}/downloads"
EXTRACT_PROCESS_DIR="${EXTRACT_DIR}/process/mysql"
EXTRACT_PROCESSOR_CLASS="D2L\DataHub\BDS\Extract\ExtractProcessor\MySQLExtractProcessor"
EXTRACT_UPLOADS_DATABASE="D2L_DataHub"
EXTRACT_UPLOADS_DIR="${EXTRACT_DIR}/uploads/D2L_DataHub"
EXTRACT_UPLOADER_CLASS="D2L\DataHub\BDS\Extract\ExtractUploader\OracleExtractUploader"

## D2L API ##
D2L_HOST=""
D2L_USER=""
D2L_PASS=""
D2L_OAUTH_TOKEN_PATH="${WORK_DIR}/auth/oauth_token.json"
D2L_OAUTH_CLIENT_ID=""
D2L_OAUTH_CLIENT_SECRET=""
D2L_OAUTH_REDIRECT_URI="https://localhost:3001"
D2L_OAUTH_SCOPE="datahub:dataexports:* datasets:bds:read"
